.page {
  height: 100vh;
  background: var(--light-blue);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.page::before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../img/background.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  transition: all 0.5s;
}

.page__main {
  z-index: 1;
}

@media (max-width: 650px) {
  .page::before {
    opacity: 0;
  }
}
